<div id="admin">

  <h1> <%= config.titulo %> </h1>

  <form method="post" id="adminForm">

    <div class="card">
      <div class="card-body">
        <table class="table formularios">
          <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Recibidos</th>
            <th>Borrados</th>
            <th>Acciones</th>
          </tr>
          <% config.forEach(function(item){ %>
            <tr formid="<%= item.formid %>" _publico="<%= item.publico ? "on" : "" %>" _multiple="<%= item.multiple ? "on" : "" %>">
              <td>
                <%= item.formid %>
              </td><td>
                <%= item.titulo %>
              </td><td date="<% if (item.desde) { %><%= item.desde.fecha_edit_toString() %><% } %>">
                  <% if (item.desde) { %><%= item.desde.fecha_toString() %><% } %>
                </td><td date="<% if (item.hasta) { %><%= item.hasta.fecha_edit_toString() %><% } %>">
                  <% if (item.hasta) { %><%= item.hasta.fecha_toString() %><% } %>
                </td><td>
                  <span class="badge badge-secondary">
                    <%= cantidad[item.formid]>0 ? cantidad[item.formid] : 0 %>
                  </span>
                </td><td>
                  <span class="badge badge-danger">
                    <%= borrados[item.formid]>0 ? borrados[item.formid] : 0 %>
                  </span>
                </td><td class="acciones">
                  <a href="download?formId=<%= item.formid %>"<% if (!(cantidad[item.formid]>0)) { %> class="disabled"<% } %> title="descargar"><i class="fa fa-download"></i></a>
                  <a href="#" preview="<%= item.formid %>" dest="../form/preview" data-toggle="modal" data-target="#preview" title="previsualizar"><i class="fa fa-eye"></i></a>
                  <a href="#" edit="<%= item.formid %>" data-toggle="modal" data-target="#myModal" title="editar"><i class="fa fa-edit"></i></a>
                  <a <% if ((cantidad[item.formid]>0)) { %>href="#" class="disabled"<% } else { %>href="../form/modedit?formId=<%= item.formid %>"<% } %> title="editar componentes"><i class="fa fa-list"></i></a>
                  <a href="#" dest="clonar" data="<%= item.formid %>" title="duplicar"><i class="fa fa-copy"></i></a>
                  <a href="#" dest="borrar" data="<%= item.formid %>"<% if (cantidad[item.formid]+borrados[item.formid]>0) { %> class="disabled"<% } %> title="borrar"><i class="fa fa-trash"></i></a>
                <td>
              </tr>
          <% }) %>
        </table>
      </div>
    </div>

  </form>

<%- include edit.ejs %>
<%- include preview.ejs %>

</div>
