<div id="admin_modedit">
  <div id="form">

    <h1>Editar componente</h1>

    <form method="post" id="form_modedit" class="myForm">
      <input type="hidden" name="formId" value="<%= formId %>">
      <input type="hidden" name="orden" value="<%= m.orden %>">

      <div class="panel panel-default content">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td class="col-sm-3">
                  <label for="campo-modid">Módulo:</label>
                </td><td class="col-sm-6">
                  <select class="custom-select" id="campo-modid" name="modid" readonly="readonly">
                    <option value="">Seleccione un tipo de módulo</option>
                    <% modulos.forEach(function(mod){ -%>
                      <option value="<%= mod %>"<% if (mod===m.modid) { %> selected<% } %>><%= mod %></option>
                    <% }) %>
                  </select>
                </td><td class="col-sm-3">
                  Tipo de módulo
                </td>
              </tr>
              <% if (m.config.nombre) { %>
              <tr>
                <td class="col-sm-3">
                  <label for="nombres-1">Nombre:</label>
                </td><td class="col-sm-6">
                  <input type="text" class="form-control" id="nombre-1" name="nombre" value="<%= m.nombre %>">
                </td><td class="col-sm-3">
                  Nombre interno para el parámetro del form
                </td>
              </tr>
              <% } if (m.config.etiqueta) { %>
              <tr>
                <td class="col-sm-3">
                  <label for="etiqueta-1">Etiqueta:</label>
                </td><td class="col-sm-6">
                  <input type="text" class="form-control" id="etiqueta-1" name="etiqueta" value="<%= m.etiqueta %>">
                </td><td class="col-sm-3">
                  Etiqueta que se muestra en pantalla
                </td>
              </tr>
              <% } if (m.config.texto1) { %>
              <tr>
                <td class="col-sm-3">
                  <label for="texto-1">Texto 1:</label>
                </td><td class="col-sm-6">
                  <textarea class="form-control" id="texto-1" name="texto1"><% if (m.texto1) { %><%= m.texto1 %><% } %></textarea>
                </td><td class="col-sm-3">
                  <%= m.config.texto1 %>
                </td>
              </tr>
              <% } if (m.config.texto2) { %>
              <tr>
                <td class="col-sm-3">
                  <label for="texto-2">Texto 2:</label>
                </td><td class="col-sm-6">
                  <textarea class="form-control" id="texto-2" name="texto2"><% if (m.texto2) { %><%= m.texto2 %><% } %></textarea>
                </td><td class="col-sm-3">
                  <%= m.config.texto2 %>
                </td>
              </tr>
              <% } if (m.config.ayuda) { %>
              <tr>
                <td class="col-sm-3">
                  <label for="ayuda-1">Ayuda:</label>
                </td><td class="col-sm-6">
                  <input type="text" class="form-control" id="ayuda-1" name="ayuda" value="<%= m.ayuda %>">
                </td><td class="col-sm-3">
                  <%= m.config.ayuda %>
                </td>
              </tr>
              <% } if (m.config.validador) { %>
                <tr class="modulo" data-orden="<%= m.orden %>">
                  <td class="col-sm-3">
                    <label for="campo-validador">Validador:</label>
                  </td><td class="col-sm-6">
                    <select class="custom-select" id="campo-validador" name="validador"<% if (m.validador) { %> data-validate="<%= m.validador %>"<% } %> data-optional="true">
                      <option value="">Seleccione un validador</option>
                      <% validadores.forEach(function(val){ -%>
                        <option value="<%= val.id %>"<% if (m.validador===val.id) { %> selected<% } %>><%= val.desc %></option>
                      <% }) %>
                    </select>
                  </td><td class="col-sm-3">
                    Tipo de validador a usar para aceptar el envío del formulario
                  </td>
                </tr>
              <% } if (m.config.opcional) { %>
              <tr>
                <td class="col-sm-3">
                  <label for="opcional">Es opcional:</label>
                </td><td class="col-sm-6">
                  <input type="checkbox" class="form-control" id="opcional" name="opcional" <% if (m.opcional) { %>checked="checked"<% } %>>
                </td><td class="col-sm-3">
                  Si es opcional completar este componente en el formulario
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <h1>Previsualización</h1>

      <div class="panel panel-default content">
        <div class="panel-body">
          <iframe style="width:100%;border:0" srcdoc='
            <table class="table">
              <% if (m.modid == "intro") { -%>
                <tr><td>
              <% } else if (m.modid == "pie") { -%>
                <tr><td><form><div><div><table>
              <% } else { -%>
                <tr><td><form id="ajaxForm"><table>
              <% } %>

              <%- partial ("../form/"+m.modid,{m:m,config:{modedit:1},session:session}) %>

              <% if (m.modid == "intro") { -%>
                </td></tr>
              <% } else if (m.modid == "pie") { -%>
                </td></tr>
              <% } else { -%>
                </table></form></td></tr>
              <% } %>
            </table>'>
          </iframe>
        </div>
      </div>

      <button type="reset" id="cancelar" class="btn btn-primary" onClick="window.location='../form/modedit?formId=<%= formId %>'">Cancelar</button>
      <button type="submit" class="btn btn-primary" name="action" value="guardar">Guardar</button>
      <button type="submit" class="btn btn-primary" name="action" value="guardar_siguiente">Guardar y Siguiente<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
    </form>

  </div>
</div>
