<tr class="modulo" data-orden="<%= m.orden %>">
  <td class="col-sm-3">
    <label for="campo-<%= m.id%>"><%- m.etiqueta %>:</label>
  </td><td class="col-sm-6">
    <select class="custom-select" id="campo-<%= m.id%>" name="<%= m.nombre %>"<% if (m.validador) { %> data-validate="<%= m.validador %>"<% } %><% if (m.opcional) { %> data-optional="true"<% } %>>
      <option value="">Seleccione una opción</option>
      <% m.options.forEach(function(asignatura){ -%>
        <option value="<%= asignatura.AsignDesc %>"<% if (m.value===asignatura.AsignDesc) { %> selected<% } %>><%= asignatura.AsignDesc %></option>
      <% }) %>
    </select>
  </td><td class="col-sm-3">
    <% if (m.ayuda !== null) { %><%= m.ayuda %><% } %>
  </td>
</tr>
