<tr class="modulo" data-orden="<%= m.orden %>">
  <td class="col-sm-3">
    <label for="cedula-<%= m.id%>"><%- m.etiqueta %>:</label>
  </td><td class="col-sm-6">
    <input type="text" class="form-control cedula"<% if (m.ayuda !== null) { %> placeholder="<%= m.ayuda %>"<% } %> id="cedula-<%= m.id%>" name="<%= m.nombre %>" value="<%= m.value %>" readonly="readonly"<% if (m.validador) { %> data-validate="<%= m.validador %>"<% } %><% if (m.opcional) { %> data-optional="true"<% } %>>
  </td><td class="col-sm-3">
  </td>
</tr>
<script>
function fmtCedula(text) {
  return text.replace(/(.)?(...)(...)(.)$/, function(match,millon,mil,unidades,verif) {
    return millon+'.'+mil+'.'+unidades+'-'+verif;
    }
  );
};
window.onload = function(){
  $('input.cedula').each(function(obj){
    $(this).val(fmtCedula( $(this).val().replace(/[.-]/g,'') ));
  });
};
</script>
