<tr class="modulo" orden="<%= m.orden %>">
  <td class="col-sm-3">
    <span class="input-group-addon" id="campo-<%= m.orden%>"><%- m.etiqueta %>:</span>
  </td><td class="col-sm-6">
    <div class="checkbox">
      <label>
        <input type="checkbox" class="form-control" aria-describedby="campo-<%= m.orden%>" name="<%= m.nombre %>" <% if (m.value) { %>checked="checked"<% } %><% if (m.validador) { %> validate="<%= m.validador %>"<% } %><% if (m.opcional) { %> optional="true"<% } %>>
        <% if (m.ayuda !== null) { %><%= m.ayuda %><% } %>
      </label>
    </div>
  </td>
</tr>
<% if (m.texto1) { %>
  <tr>
    <td colspan="3" style="border-top:none"><%- m.texto1 %></td>
  </tr>
<% } %>
