<tr class="modulo row" data-orden="<%= m.orden %>">
  <td class="col-sm-3">
    <label for="campo-<%= m.id%>"><%- m.etiqueta %>:</label>
  </td><td class="col-sm-6">
    <textarea class="form-control"<% if (m.ayuda) { %> placeholder="<%= m.ayuda %>"<% } %> id="campo-<%= m.id%>" name="<%= m.nombre %>">
<% if (m.value) { %><%= m.value %><% } %></textarea>
  </td><td class="col-sm-3">
  </td>
</tr>
