<tr class="modulo row" data-orden="<%= m.orden %>">
  <td class="col-sm-3">
    <label for="credencial-<%= m.id%>"><%- m.etiqueta %>:</label>
  </td><td class="col-sm-6">
    <input type="text" class="form-control credencial"<% if (m.ayuda !== null) { %> placeholder="<%= m.ayuda %>"<% } %> id="credencial-<%= m.id%>" name="<%= m.nombre %>" value="<%= m.value %>" readonly="readonly"<% if (m.validador) { %> data-validate="<%= m.validador %>"<% } %><% if (m.opcional) { %> data-optional="true"<% } %>>
  </td><td class="col-sm-3">
      <a href="https://servicios.ces.edu.uy/Personas/servlet/personaag01">cambiar</a>
  </td>
</tr>
