<% if (typeof session.modedit !== 'undefined') { %><div id="modedit"><% } %>
<div id="form">

<h1> <%= config.titulo %> </h1>

<% config.modulos.forEach(function(m){ %>
<%- partial (m.modid,{m:m}) %>
<% }) %>

</div>

<% if (typeof session.modedit !== 'undefined') { %>

<button type="reset" id="cancelar" class="btn btn-primary" onClick="window.location='../admin/index'">Volver</button>
<button type="button" class="btn btn-primary" onClick="window.location='../admin/modedit?formId=<%= config.formid %>&orden=0&action=crear'">Agregar componente</button>
</div>

<div id="float">
  <a href="#" formId="<%= config.formid %>" data-orden="0" title="editar"><i class="fa fa-edit"></i></a>
  <a href="#" formId="<%= config.formid %>" data-orden="0" title="borrar"><i class="fa fa-trash"></i></a>
  <a href="#" formId="<%= config.formid %>" data-orden="0" title="subir"><i class="fa fa-arrow-up"></i></a>
  <a href="#" formId="<%= config.formid %>" data-orden="0" title="bajar"><i class="fa fa-arrow-down"></i></a>
</div>
<% } %>
