<tr class="modulo row" data-orden="<%= m.orden %>">
  <td class="col-sm-3">
    <label for="campo-<%= m.orden%>"><%- m.etiqueta %>:</label>
  </td><td class="col-sm-6">
    <input type="text" class="form-control"<% if (m.ayuda !== null) { %> placeholder="<%= m.ayuda %>"<% } %> id="campo-<%= m.orden%>" name="<%= m.nombre %>" value="<% if (m.value) { %><%= m.value %><% } %>"<% if (m.validador) { %> data-validate="<%= m.validador %>"<% } %><% if (m.validador_param) { %> param="<%= m.validador_param %>"<% } %><% if (m.opcional) { %> data-optional="true"<% } %>>
  </td><td class="col-sm-3">
    <% if (m.texto1 !== null) { %><%= m.texto1 %><% } %>
  </td>
</tr>
