<tr>
  <td class="col-sm-3">
    <span class="input-group-addon" id="campo-<%= m.orden%>"><%= m.etiqueta %>:</span>
  </td><td class="col-sm-6">
    <input type="text" class="form-control"<% if (m.ayuda !== null) { %> placeholder="<%= m.ayuda %>"<% } %> aria-describedby="campo-<%= m.orden%>" name="<%= m.nombre %>" value="<% if (m.value) { %><%= m.value %><% } %>"<% if (m.validador) { %> validate="<%= m.validador %>"<% } %><% if (m.opcional) { %> optional="true"<% } %>>
  </td><td class="col-sm-3">
    <% if (m.texto1 !== null) { %><%= m.texto1 %><% } %>
  </td>
</tr>
