<div class="modulo" orden="<%= m.orden %>">
  <%if (m.texto1) { %><%- m.texto1 %><% } %>
  <%if (m.texto2) { %><%- m.texto2 %><% } %>
</div>

<% if (typeof recibido !== "undefined") { %>
  <div class="content">
    <button type="button" class="btn btn-primary" id="print" onClick="window.print()">Imprimir comprobante</button>
  </div>
  <script type="text/javascript">
    var  bloqueado = true;
  </script>
<% } %>

<form method="post" id="myForm" class="myForm">

  <div class="panel panel-default content">
    <div class="panel-body">
      <table class="table">
<% if (typeof recibido !== "undefined") { %>
        <tr>
          <td class="col-sm-3">
            <span class="input-group-addon" id="registro-0">Número de registro:</span>
          </td><td class="col-sm-6">
            <input type="text" class="form-control" aria-describedby="registro-0" value="<%= recibido.id %>" readonly="readonly">
          </td><td class="col-sm-3">
          </td>
        </tr>
        <tr>
          <td class="col-sm-3">
            <span class="input-group-addon" id="registro-1">Fecha de registro:</span>
          </td><td class="col-sm-6">
            <input type="text" class="form-control" aria-describedby="registro-1" value="<%= recibido.updatedAt %>" readonly="readonly">
          </td><td class="col-sm-3">
          </td>
        </tr>
<% } %>
