<tr>
  <td class="col-sm-3">
    <span class="input-group-addon" id="campo-<%= m.id%>"><%= m.etiqueta %>:</span>
  </td><td class="col-sm-6">
    <!--
    <select class="form-control">
      <option>Seleccione una opción</option>
      <% m.options.forEach(function(dependencia){ -%>
        <option id="<%= dependencia.DependId %>"<% if (m.value===dependencia.DependId) { %>selected<% } %>><%= dependencia.DependDesc %></option>
      <% }) %>
    </select>
    -->
    <input type="hidden" class="mis_dependencias"<% if (typeof m.validador !== 'undefined') { %> validate="<%= m.validador %>"<% } %> id="dd-<%= m.id%>" name="<%= m.nombre %>" value="<% if (typeof m.value !== 'undefined') {%><%= m.value %><% } %>">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="btn-dd-<%= m.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Seleccione una opción
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" dd="<%= m.id %>" aria-labelledby="btn-dd-<%= m.id%>">
        <% m.options.forEach(function(dependencia){ -%>
          <li><a data="<%= dependencia.DependId %>" dd="<%= m.id %>" href="#"><%= dependencia.DependDesc %></a></li>
        <% }) %>
      </ul>
    </div>
  </td><td class="col-sm-3">
    <% if (m.ayuda !== null) { %><%= m.ayuda %><% } %>
  </td>
</tr>
