<tr class="modulo row" data-orden="<%= m.orden %>">
  <td class="col-sm-3">
    <label for="nombre-<%= m.id%>"><%- m.etiqueta %>:</label>
  </td><td class="col-sm-6">
    <input type="text" class="form-control nombre"<% if (m.ayuda !== null) { %> placeholder="<%= m.ayuda %>"<% } %> id="nombre-<%= m.id%>" name="<%= m.nombre %>" value="<%= m.value %>" readonly="readonly"<% if (m.validador) { %> data-validate="<%= m.validador %>"<% } %><% if (m.opcional) { %> data-optional="true"<% } %>>
  </td><td class="col-sm-3">
  </td>
</tr>
