<tr>
  <td class="col-sm-3">
    <span class="input-group-addon" id="nombre-<%= m.id%>"><%= m.etiqueta %>:</span>
  </td><td class="col-sm-6">
    <input type="text" class="form-control nombre" placeholder="<%= m.ayuda %>" aria-describedby="nombre-<%= m.id%>" name="<%= m.nombre %>" value="<%= m.value %>" readonly="readonly">
  </td><td class="col-sm-3">
  </td>
</tr>
