      </table>
    </div>
  </div>

<% if (!session.preview && config.enabled && typeof recibido === "undefined") { -%>
  <div class="botonera">
    <button type="reset" id="cancelar" class="btn btn-primary" onClick="location.replace('?id=<%= m.formid %>')">Cancelar</button>
    <button type="submit" class="btn btn-primary" name="submit" value="enviar">Enviar</button>
    <div id="status"></div>
  </div>
<% } %>

  <% if (typeof(mensaje) !== 'undefined') { -%>
    <div class="alert alert-danger">
      <strong>Error!</strong> <%= mensaje %>
    </div>
  <% } -%>

<% if (!session.preview) { -%>
</form>
<% } -%>

<div class="modulo" data-orden="<%= m.orden %>">
  <% if (m.texto1) { %><%- m.texto1 %><% } %>
  <% if (m.texto2) { %><%- m.texto2 %><% } %>
</div>

<% if (!session.preview && config.enabled && typeof recibido !== "undefined") { %>
<div class="mt-3">
  <button type="button" id="volver" class="btn btn-primary" onClick="location.replace('?id=<%= m.formid %>')">Volver</button>
  <button type="button" id="borrar" class="btn btn-danger">Anular formulario</button>
</div>
<% } %>
